<p></p>
  
<%= render 'users/error' %>

<%= render 'books/userinfo' %>

<div>
 <%= link_to edit_user_path(current_user.id) do %>
  <i class="fas fa-user-cog btn btn-outline-secondary btn-block"></i>
 <% end %>
</div>

<p></p>

<%= render 'books/newbook' %>

<div class="col-md-8 offset-md-1">
 <h2>Users</h2>
  <table class="table table-hover table-inverse">
   <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
   </tr>
  <% @users.each do |user| %>
   <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user) %></td>
   </tr>
  <% end %>
  </table>
 </div>
</div>
