<div class="container">
 <div class="row">
  <div class="container  col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <h2>Editing Book</h2>

   <%= render 'books/error' %>

   <%= form_with model:@book, local:true do |f| %>
    <h6>Title</h6>
   <%= f.text_field :title, class:"w-100" %>
    <p></p>
    <h6>Opinion</h6>
   <%= f.text_area :body, class:"w-100" %>
    <p></p>
    <button class="btn btn-success" type="submit">Update Book</button>
   <% end %>
   <div>
    <p></p>
    <p><%= link_to "Show", book_path(@book.id) %> |<%= link_to "Back", "/books" %></p>
   </div>
  </div>
 </div>
</div>

